2085_neuron/
env/
venv/
.venv/
myvenv/
.env/
.env
__pycache__/
.flake8
.prettierrc.toml
.pylintrc
project/media/
!project/media/images/gallery-image*.jpg
!project/media/images/about*.jpg
!project/media/images/2024/*
todo.txt
__pycache__/
*.py[cod]
*.class
*.log
*.pot
local_settings.py
db.sqlite3
note
/typings
/project/entrypoint.sh
/project/wait-for-it.sh
/project/fixture.json
/project/poetry.lock
/project/pyproject.toml
/project/uwsgi.ini
migrations/
/backups
