env/
venv/
.venv/
myvenv/
.env
__pycache__/
.flake8
.prettierrc.toml
.pylintrc
media/
todo.txt
env/
venv/
.env/
.venv/
myvenv/
__pycache__/
*.py[cod]
*.class
*.log
*.pot
local_settings.py
db.sqlite3
note
/typings
