{% extends "blog/base.html" %}

{% load blog_tags %}

{% load users_tags %}

{% block title %}
    Письмо с активацие отправлено
{% endblock title %}

{% block content %}
    <section id="blog">
        <div class="container" align="center">
            <div class="blog-comment-form">
                <h2>Проверьте вашу почту</h2>
                <p>Вам было отправлено письмо со ссылкой на активацию вашей учетной записи.</p>
            </div>
        </div>
    </section>
{% endblock content %}
