{% extends "blog/base.html" %}
{% load users_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <!-- Home Section -->
    <section id="home" class="main-home parallax-section">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Home</h1>
                    <h4>Responsive Blog HTML CSS Website Template</h4>
                    <a href="#blog" class="smoothScroll btn btn-default">Читать</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    {% for post in posts %}
                        <div class="blog-post-thumb">
                            {% if post.image %}
                                <div class="blog-post-image">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.image.url }}" class="img-responsive" alt="Blog Image">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="blog-post-title">
                                <h3>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h3>
                            </div>
                            <div class="blog-post-format">
                                {% author_info post.author %}
                                <span><i class="fa fa-date"></i>{{ post.time_create }}</span>
                                <!-- <span><a href="#"><i class="fa fa-comment-o"></i> 35 Comments</a></span> -->
                            </div>
                            <div class="blog-post-des">
                                <p>{{ post.article|safe|truncatewords:100 }}</p>
                                <a href="{{ post.get_absolute_url }}" class="btn btn-default">Читать</a>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Блок пагинации -->
                    <div class="pagination">
                        {% if page_obj.has_other_pages %}
                            <nav class="list-pages">
                                <ul>
                                    {% if page_obj.has_previous %}
                                        <li class="page-num">
                                            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                                        </li>
                                        <!-- <li class="page-num page-num-selected">...</li> -->
                                    {% endif %}
                                    {% for p in paginator.page_range %}
                                        {% if page_obj.number == p %}
                                            <li class="page-num page-num-selected">{{ p }}</li>
                                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                            <li class="page-num">
                                                <a href="?page={{ p }}">{{ p }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-num">
                                            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
