{% extends "blog/base.html" %}
{% block title %}
    Title
{% endblock title %}
{% block home %}
    Home
{% endblock home %}
{% block content %}
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    {% for post in posts %}
                        <div class="blog-post-thumb">
                            <div class="blog-post-image">
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.image.url }}" class="img-responsive" alt="Blog Image">
                                </a>
                            </div>
                            <div class="blog-post-title">
                                <h3>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h3>
                            </div>
                            <div class="blog-post-format">
                                <!-- <span><a href="#"> -->
                                <!--     <img src="images/author-image1.jpg" class="img-responsive img-circle"> -->
                                <!-- Jen Lopez</a></span> -->
                                <span><i class="fa fa-date"></i>{{ post.time_create }}</span>
                                <!-- <span><a href="#"><i class="fa fa-comment-o"></i> 35 Comments</a></span> -->
                            </div>
                            <div class="blog-post-des">
                                <p>{{ post.article }}</p>
                                <a href="{{ post.get_absolute_url }}" class="btn btn-default">Читать</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
