<li>
    <a>|</a>
</li>
{% if user.is_authenticated %}
    {% if user.is_author %}
        <li>
            <a href="{% url 'add_post' %}">Добавить пост</a>
        </li>
        <li>
            <a href="{% url 'drafts' %}">Черновики</a>
        </li>
    {% endif %}
    {% if user.is_staff %}
        <li>
            <a href="{% url "unpublished_posts" %}">Неопубликованные посты</a>
        </li>
    {% endif %}
    {% if user.is_author %}
        {% if user.first_name %}
            <li>
                <a href="{% url "profile_edit" %}">{{ user.first_name }}</a>
            </li>
        {% else %}
            <li>
                <a href="{% url "profile_edit" %}">{{ user.username }}</a>
            </li>
        {% endif %}
    {% else %}
        {% if user.first_name %}
            <li>
                <a>{{ user.first_name }}</a>
            </li>
        {% else %}
            <li>
                <a>{{ user.username }}</a>
            </li>
        {% endif %}
    {% endif %}
    <li>
        <a href="{% url 'logout' %}">Выйти</a>
    </li>
{% else %}
    <li>
        <a href="{% url 'register' %}">Регистрация</a>
    </li>
    <li>
        <a href="{% url 'login' %}">Вход</a>
    </li>
{% endif %}
