{% load users_tags %}

<!-- Navigation section  -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Neuron</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% for elem in navigation_menu %}
                    {% if elem.url_name == "subscriptions" and user.is_anonymous %}
                        <!-- continue -->
                    {% else %}
                        <li>
                            <a href="{% url elem.url_name %}">{{ elem.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% auth_menu user %}
                <!-- <li class="active"> -->
                <!--     <a href="url_name">title</a> -->
                <!-- </li> -->
            </ul>
        </div>
    </div>
</div>
