{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>

            {% block title %}
            {% endblock title %}

        </title>
        <!--
Template 2085 Neuron

http://www.tooplate.com/view/2085-neuron

-->
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static "blog/css/magnific-popup.css" %}" />
        <!-- Main css -->
        <link rel="stylesheet" href="{% static "blog/css/style.css" %}" />
        <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400"
              rel="stylesheet" />
    </head>
    <body>
        <!-- PRE LOADER -->
        <div class="preloader">
            <div class="sk-spinner sk-spinner-wordpress">
                <span class="sk-inner-circle"></span>
            </div>
        </div>
        {% navigation user %}
        {% messages_tag %}

        {% block content %}
        {% endblock content %}

        <!-- Footer Section -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ul class="social-icon">
                            <li>
                                <a href="#" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-dribbble"></a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-linkedin"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Back top -->
        <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
        <!-- SCRIPTS -->
        <script src="{% static "blog/js/jquery.js" %}"></script>
        <script src="{% static "blog/js/bootstrap.min.js" %}"></script>
        <script src="{% static "blog/js/particles.min.js" %}"></script>
        <script src="{% static "blog/js/app.js" %}"></script>
        <script src="{% static "blog/js/jquery.parallax.js" %}"></script>
        <script src="{% static "blog/js/smoothscroll.js" %}"></script>
        <script src="{% static "blog/js/custom.js" %}"></script>
        <script src="{% static "blog/js/jquery.magnific-popup.min.js" %}"></script>
        <script src="{% static "blog/js/magnific-popup-options.js" %}"></script>
    </body>
</html>
