{% extends "blog/base.html" %}

{% block title %}
    Галлерея
{% endblock title %}

{% block content %}
    <!-- Home Section -->
    <section id="home" class="main-contact parallax-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h2>Say hello...</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <form action="#" method="post">
                        {% csrf_token %}
                        {{ form_errors }}
                        {% for field in form %}
                            {% if field.name == "message" %}
                                <div class="col-md-12 col-sm-12">
                                {% else %}
                                    <div class="col-md-4 col-sm-4">
                                    {% endif %}
                                    {{ field.errors }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <div class="col-md-3 col-sm-6">
                                <input name="submit"
                                       type="submit"
                                       class="form-control"
                                       id="submit"
                                       value="Send" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endblock content %}
