{% extends "blog/base.html" %}

{% block title %}
    Галлерея
{% endblock title %}

{% block content %}
    <!-- Home Section -->
    <section id="home" class="main-gallery parallax-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Image Gallery</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Section -->
    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <h2>Beautiful Images with Magnific Popup..</h2>
                    <p>
                        Aliquam blandit velit nisi, sed fringilla felis lacinia sed. Integer vitae porta felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus non tristique lacus. Suspendisse ut tortor vitae risus lacinia tristique. Aliquam sed consectetur libero.
                    </p>
                    <p>
                        Morbi tellus dolor, porta dignissim enim sit amet, dapibus sagittis erat. In blandit elit sit amet dui aliquet congue nec vel quam. Integer id tristique libero.
                    </p>
                    <span></span>
                    <div class="col-md-6 col-sm-6">
                        <div class="gallery-thumb">
                            <a href="/media/images/gallery-image1.jpg" class="image-popup">
                                <img src="/media/images/gallery-image1.jpg"
                                     class="img-responsive"
                                     alt="Gallery Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="gallery-thumb">
                            <a href="/media/images/gallery-image2.jpg" class="image-popup">
                                <img src="/media/images/gallery-image2.jpg"
                                     class="img-responsive"
                                     alt="Gallery Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="gallery-thumb">
                            <a href="/media/images/gallery-image3.jpg" class="image-popup">
                                <img src="/media/images/gallery-image3.jpg"
                                     class="img-responsive"
                                     alt="Gallery Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="gallery-thumb">
                            <a href="/media/images/gallery-image4.jpg" class="image-popup">
                                <img src="/media/images/gallery-image4.jpg"
                                     class="img-responsive"
                                     alt="Gallery Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="gallery-thumb">
                            <a href="/media/images/gallery-image5.jpg" class="image-popup">
                                <img src="/media/images/gallery-image5.jpg"
                                     class="img-responsive"
                                     alt="Gallery Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="gallery-thumb">
                            <a href="/media/images/gallery-image6.jpg" class="image-popup">
                                <img src="/media/images/gallery-image6.jpg"
                                     class="img-responsive"
                                     alt="Gallery Image" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <p>
                            Aliquam blandit velit nisi, sed fringilla felis lacinia sed. Integer vitae porta felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus non tristique lacus.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
